@import "../../styles/lib";

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $background-color;

  h2 {
    color: $gray-dark;
    font-weight: normal;
  }

  p {
    color: $text-muted;
  }

  a {
    color: $accent-2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.LoginForm {
  margin-top: 2rem;
}

input {
  display: block;
  min-width: 25rem;
  font-family: inherit;
  font-size: 1rem;
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: 0.25rem;
  color: $text-color;
  margin-bottom: 2rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1rem;

  &::placeholder {
    color: $gray-lighter;
  }
}

.inputValidationRrror {
  border: 1px solid $danger;
  margin-bottom: 0;
}

.textValidationError {
  color: $danger;
  margin-bottom: 0.75rem;
}
