@import "../../styles/lib";

.Input {
  display: block;
  min-width: 25rem;
  font-family: inherit;
  font-size: 1rem;
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-radius: 0.25rem;
  color: $text-color;
  margin-bottom: 2rem;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1rem;

  &::placeholder {
    color: $gray-lighter;
  }
}
