@import "../../styles/lib";

.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.875rem 2.5rem;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: all 0.2s ease-out;
  border: none;
  color: white;
  background: $accent-1;
  border-radius: 0.25rem;
  overflow: hidden;
  user-select: none;
  font-size: 1rem;
  font-weight: 600;

  .Icon {
    margin: 0.6rem;
  }

  &:hover,
  &:focus {
    outline: none;
    background: $accent-1-dark;
  }

  &--full {
    width: 100%;
  }
}
