$text-color: #2d3748;
$text-muted: #718096;
$background-color: #edf2f7;

$gray-dark: #2d3748; // 800
$gray-light: #718096; // 600
$gray-lighter: #a0aec0; // 500
$gray-lightest: #f7fafc; // 100

$accent-1: #4299e1;
$accent-1-dark: darken($accent-1, 10%);
$accent-2: #667eea;

$succses: #68d391;
$danger: #fc8181;
