@import "../../styles/lib";

.message {
  display: flex;
  margin-bottom: 1rem;
  &__avatar {
    align-self: flex-start;

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }

  &__bubble {
    max-width: 25rem;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0 8px 8px 8px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  &__header {
    display: flex;
    align-items: baseline;
  }

  &__username {
    color: $gray-dark;
    margin-right: 1rem;
    font-weight: 600;
  }

  &__timestamp {
    color: $gray-lighter;
    margin-left: auto;
    font-size: 0.75rem;
  }

  &__body {
    margin-top: 0.5rem;
  }

  &__text {
    color: $gray-dark;
  }

  &__image {
    height: 15rem;
    margin: 0 -1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;

    img {
      object-fit: cover;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  }
}

.message--reverse {
  flex-direction: row-reverse;

  // .message__avatar {
  //   display: none;
  // }

  .message__bubble {
    background: $gray-lightest;
    border-radius: 8px 0 8px 8px;
  }

  // .message__username {
  //   display: none;
  // }
}
